@{
    ViewBag.Title = "About";
}

<div class="body_about">
    <hr />

    <div class="col-sm-6">
        <div class="div1_about">

        </div>
    </div>

    <div class="col-sm-6">
        <div class="div2_about">

        </div>
    </div>

    <div class="col-sm-11">
        <div class="div3_about">

        </div>
    </div>
</div>
