@{
    ViewBag.Title = "Home Page";
}

<div class="body_index">
   <hr />
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="1800">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->

        <div class="carousel-inner">
            <div class="item active">
                <img src="/Image/carlas.png" style="width:1100px; height:495px; margin-left:20px; margin-right:20px;">
            </div>

            <div class="item">
                <img src="/Image/untold.jpg" style="width:1100px; height:495px; margin-left:20px; margin-right:20px;">
            </div>

            <div class="item">
                <img src="/Image/irinarimes.jpg" style="width:1100px; height:495px; margin-left:20px; margin-right:20px;">
            </div>

            <div class="item">
                <img src="/Image/summerwell.jpg" style="width:1100px; height:495px; margin-left:20px; margin-right:20px;">
            </div>
        </div>


        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <hr />
    <div class="col-sm-4">
        <div class="div1_home">

        </div>
    </div>

    <div class="col-sm-4">
        <div class="div2_home">

        </div>
    </div>
    <div class="col-sm-4">
        <div class="div3_home">

        </div>
    </div>
</div>